<!--<configuration>-->

<!--    &lt;!&ndash; Rolling File Appender &ndash;&gt;-->
<!--    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>logs/robot.log</file>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            &lt;!&ndash; Паттерн имени файла с датой &ndash;&gt;-->
<!--            <fileNamePattern>robot.%d{yyyy-MM-dd}.log</fileNamePattern>-->
<!--            &lt;!&ndash; Максимальное количество архивов &ndash;&gt;-->
<!--            <maxHistory>30</maxHistory>-->
<!--        </rollingPolicy>-->
<!--        <encoder>-->
<!--            <pattern>%date %level %logger{10} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    &lt;!&ndash; Console Appender &ndash;&gt;-->
<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>%kvp %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    &lt;!&ndash; Root Logger &ndash;&gt;-->
<!--    <root level="info">-->
<!--        <appender-ref ref="FILE"/>-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--    </root>-->
<!--</configuration>-->